@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boldonse', sans-serif;
}

.bandera {
    width: 200px;
}


.game-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.divIzq, .divDer {
    position: absolute;
    overflow: hidden;
    width: 50vw;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divIzq::before, .divDer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}


.divIzq:hover::before, .divDer:hover::before {
    background-color: rgba(0, 0, 0, 0.3); 
    transition: all 0.3s ease-in-out;
}

.nombre, .poblacion {
    position: relative;
    z-index: 2;
    font-size: 2rem;
    color: white;
}

.poblacion {
    font-size: 1.5rem;
}

.divDer {
    right: 0;
}


.btn {
    position: relative;
    margin-top: 1rem;
    padding: 10px 20px;
    font-size: 1 rem;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: rgba(48, 48, 48, 0.9);
}